/*html {
  overflow-x: hidden;
}*/

body {
  width: 100vw;
}

.typing {
  overflow: hidden; 
  border-right: .10em solid #359353; 
  white-space: nowrap; 
  animation: animated-text 4s linear 1s 1 normal both,
             animated-cursor 600ms linear 7,
             animated-cursor 500ms ease-in 5s 1 forwards;
}

@keyframes animated-text{
  from {
    width: 0;
  }
  to {
    width: 50vw;
  }
}

@keyframes animated-cursor{
  from {
    border-right-color: #359353;
  }
  to {
    border-right-color: transparent;
  }
}

.nav-hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
  &:hover {
    box-shadow: 0 3px 0 #7ce4ed;
    border-radius: 4px;
    transform: translateY(-3px);
    top: 3px;
  }
}

.carousel-img {
  object-fit: cover;
  object-position: top;
  margin: 0 auto;
  border-top-left-radius: 15vw;
  border-top-right-radius: 15vw;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px groove #fff;
  -moz-box-shadow: 0px -0.5vw 2vw #ccc;
  -webkit-box-shadow: 0px -0.5vw 2vw #ccc;
  box-shadow: 0px -0.5vw 2vw #ccc;
}

.carousel-root, .carousel .slide img {
  width: 92.5vw;
  height: 32.5vw;
  margin: 0 auto;
  -moz-box-shadow: 0px -0.5vw 1.5vw #ccc;
  -webkit-box-shadow: 0px -0.5vw 1.5vw #ccc;
  box-shadow: 0px -0.5vw 1.5vw #ccc;
  border-top-left-radius: 15vw;
  border-top-right-radius: 15vw;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px groove #fff;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

.carousel-button {
  position: absolute;
  top: calc(60% - 1.75vw);
  bottom: auto;
  z-index: 2;
  border-radius: 10px;
}

.right {
  left: calc(100% - 4.25vw);
}

.carousel .carousel-status {
  display: none;
}

.glass {
  backdrop-filter: contrast(130%) brightness(120%) blur(2px);
  background:
    radial-gradient(
      ellipse at 16.7% -10%,
      hsla(0, 0%, 100%, 0.44) 24%,
      hsla(0, 0%, 100%, 0.4) 25%,
      hsla(0, 0%, 100%, 0.2) 45%,
      hsla(0, 0%, 100%, 0.1)
    );
  background-size: 300% 100%;
  border-radius: 10px;
  box-shadow:
    0 2px 1px hsla(0, 0%, 100%, 0.5) inset,
    0 -2px 1px hsla(250, 70%, 5%, 0.3) inset,
    0 -2px 6px hsla(0, 0%, 100%, 0.25);
}